.code {
	font-family: "Courier New", sans-serif;
	color: #fff;
	background-color: var(--dark-gray);
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--small-border-radius);
}

.clipButton {
	width: 20px;
	height: 20px;
	outline: var(--light-gray-border);
	border: none;
	color: var(--light-gray);
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-left: 20px;
}

.clipButton:hover::after {
	content: 'Скопировать';
	padding: 5px;
	color: #fff;
	background-color: var(--dark-gray);
	position: absolute;
	left: 40px;
	top: 0;
}
