.form {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px 20% 20px 20%;
	border-radius: var(--small-border-radius);
	box-shadow: var(--shadow);
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
}
