.actionButton {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
	background-color: var(--blue);
	color: #fff;
	padding-inline: 30px;
	height: 30px;
	border: none;
	margin-top: 5px;
	margin-bottom: 10px;
	min-width: 136px;
	width: fit-content;
}

.actionButton:hover, .actionButton:disabled {
	background-color: var(--dark-blue);
}
