.inputWrapper {
	outline: var(--light-gray-border);
	display: flex;
	height: 30px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}

.input {
	padding: 4px;
	outline: none;
	border: none;
	border-radius: 0;
	height: 100%;
	flex-grow: 1;
	font-size: 14px;
}

.watchButton {
	aspect-ratio: 1 / 1;
	height: 30px;
	width: 30px;
	border: none;
	background-color: var(--lighter-gray);
	outline: var(--light-gray-border);
}
